:root{
  --bg: #FAF7F2;
  --fg: #2A2A2A;
  --muted: #5E5E5E;
  --accent: #7A5CFA;
  --accent-contrast: #FFFFFF;
  --radius: 14px;
  --maxw: 1120px;
  --ophelia-green: #0c170f;
}
@media (prefers-color-scheme: dark){
  :root{
    --bg: #142514; --fg:#E6E1D9; --muted:#B6B0A6; --accent: rgb(255, 255, 255); --accent-contrast: rgb(19, 30, 21);
  }
}
